/* https://fonts.google.com/ */
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght,MONO@0,300..800,1;1,300..800,1&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;

}


#logo {
    width: 20vh;
    height: 0vh;
    margin-top: 10px;
}

#model-cards {
    display: flex;
    gap: 10px;
}

#offer-cards {
    display: flex;
    gap: 10px;
}

#ideal-travelling-cards {
    display: flex;
    color: white;
    gap: 10px;
    margin-right: 10px;
    
}

#energy-sources {
    display: flex;
    gap: 10px;
}

.nav-items {
    display: flex;
    justify-content: center;
    background: transparent;
    border: none;
    gap: 20px;  
}

.nav-items:hover span{
    background-color: grey;
    cursor: pointer;
    border-radius: 4px;
}
.right-menu {
    display: flex;
    justify-content: right;
    gap: 5px;
}

.main-card {
    background-image: url(./resources/homepage-model3.avif);
    background-size: cover;
    background-position: center; 
    height: 70vh;
    width: 100vw;
    text-align: center;
    color: white;
}
.main-card h1{
    padding: 25px;
    margin-bottom: 0px;
}

.main-card p{
    margin-bottom: 25px;
    padding: 0px;
}

.sudan-card {
    background-image: url(./resources/model-3.avif);
    border-radius: 8px;
    background-size: cover;
    background-position: center;
    margin-left: 15px;
    height: 40vh;
    width: 40vw;
    color: white;
}

.sudan-card h1 {
    margin-bottom: 5px;
    margin-top: 140px;
    margin-left: 20px;
    padding-bottom: 0px;
    
}

.sudan-card p {
    margin-left: 20px;
}

#model3-action {
    margin-left: 18px;
    
}

.suv-card {
    background-image: url(./resources/model-y-card-bi.avif);
    border-radius: 8px;
    background-size: cover;
    background-position: center;
    color: white;
    height: 40vh;
    width: 40vw;
}

.suv-card h1 {
    margin-bottom: 5px;
    margin-top: 140px;
    margin-left: 20px;
    padding-bottom: 0px;
    
}

.suv-card p {
    margin-left: 20px;
}

#suv-action {
    margin-left: 18px;
}

.truck-card {
    background-image: url(./resources/cybertruck-bi.avif);
    border-radius: 8px;
    background-size: cover;
    background-position: center;
    color: white;
    height: 40vh;
    width: 40vw;
}

.truck-card h1 {
    margin-bottom: 5px;
    margin-top: 140px;
    margin-left: 20px;
    padding-bottom: 0px;
}

.truck-card p {
    margin-left: 20px;
}

#cybertruck svg{
    margin-bottom: 0px;
    width: 120px;
    height: 30px;
    padding-bottom: 0px;
}

#cyber-action {
    margin-left: 18px;
}

.sedan-card {
    background-image: url(./resources/model-s.avif);
    border-radius: 8px;
    background-size: cover;
    background-position: center;
    color: white;
    height: 40vh;
    width: 40vw;
}

.sedan-card h1 {
    margin-bottom: 25px;
    margin-top: 140px;
    margin-left: 20px;
    padding-bottom: 0px;
}

.sedan-card p {
    margin-left: 20px;
}

#sedan-action {
    margin-left: 18px;
}

.luxury-card {
    background-image: url(./resources/model-x.avif);
    border-radius: 8px;
    background-size: cover;
    background-position: center;
    color: white;
    height: 40vh;
    width: 40vw;
}

.luxury-card h1 {
    margin-bottom: 25px;
    margin-top: 140px;
    margin-left: 20px;
    padding-bottom: 0px;
}

.luxury-card p {
    margin-left: 20px;
}

#luxury-action {
    margin-left: 18px;
}

.charging-actions {
    justify-content: left;
}

.charging-points {
    display: flex;
    gap: 20px;
    justify-content: right;
}

.safe-driving h1 {
    margin-bottom: 10px;
    margin-top: 250px;
    margin-left: 20px;
    padding-bottom: 0px;
}

.safe-driving p {
    margin-top: 10px;
    margin-left: 20px;
}

#travel-action {
    margin-left: 18px;

}

.handy-features h1 {
    margin-bottom: 10px;
    margin-top: 250px;
    margin-left: 20px;
}

#feature-action {
    margin-left: 18px;
}

#energy-sources {
    color: white;
}

.panels {
    background-image: url(./resources/solar-panel-bi.avif);
    border-radius: 8px;
    background-size: cover;
    background-position: center;
    height: 55vh;
    width: 40vw;
}

.panels h1 {
    margin-bottom: 5px;
    margin-top: 200px;
    margin-left: 10px;
}

.panels p {
    font-size: 14px;
    margin-top: 10px;
    margin-left: 16px;
}

#panel-action {
    margin-left: 18px;
}

.power {
    background-image: url(./resources/powerwall-bi.avif);
    border-radius: 8px;
    background-size:  cover;
    background-position: center;
    height: 55vh;
    width: 40vw;
}

.power h1 {
    margin-bottom: 5px;
    margin-top: 200px;
    margin-left: 10px;
}

.power p {
    font-size: 14px;
    margin-top: 10px;
    margin-left: 16px;
}

#wall-action {
    margin-left: 18px;
}

.batteries {
    background-image: url(./resources/megapack-bi.avif);
    border-radius: 8px;
    background-size: cover;
    background-position: center;
    height: 55vh;
    width: 40vw;
}

.batteries h1 {
    margin-bottom: 5px;
    margin-top: 200px;
    margin-left: 10px;
}

.batteries p {
    font-size: 14px;
    margin-top: 10px;
    margin-left: 16px;
}

#mega-action {
    margin-left: 18px;
}

.sunlight {
    background-image: url(./resources/solar-roof-bi.avif);
    border-radius: 8px;
    background-size: cover;
    background-position: center;
    height: 55vh;
    width: 40vw;
}

.sunlight h1 {
    margin-bottom: 5px;
    margin-top: 200px;
    margin-left: 10px;
}

.sunlight p {
    font-size: 14px;
    margin-top: 10px;
    margin-left: 16px;
}

#solar-action {
    margin-left: 18px;
}

.safe-driving {
    background-image: url(./resources/travel-safely-banner.avif);
    border-radius: 8px;
    background-size: cover;
    background-position: center;
    height: 60vh;
    width: 80vw;
}

.handy-features {
    background-image: url(./resources/features-bi.avif);
    border-radius: 8px;
    background-size: cover;
    height: 60vh;
    width: 40vw;
}

#offer-cards {
    display: flex;
    align-items: right;
}

.offers h1 {
    margin-top: 15px;
}

.offers img {
    width: 15vw;
    height: 30vh;
}

.exclusive-customers img {
    width: 15vw;
    height: 30vh;
}

.footer-items {
    display: flex;
    justify-content: center;
    cursor: pointer;
    gap: 10px;
    font-size: 14px;
}

.blue-button {
    height: 31px;
    background-color: blue;
    color: white;
    font-weight: bold;
    font-size: 10px;
}

.light-button {
    height: 31px;
    color: grey;
    font-weight: bold;
    font-size: 10px;
}

.blue-button:hover {
    cursor: pointer;
}

.light-button:hover {
    cursor: pointer;
}

footer p {
    font-size: 8px;
    margin-left: 120px;
}

.sticky-footer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
    font: bold;
}

#support svg {
    width: 24px;
    height: 25px;
    
}

#account svg {
    width: 24px;
    height: 25px;
}

#globe svg {
    width: 24px;
    height: 25px;
}

.right-menu {
    cursor: pointer;
}

